.banner {
    height: 150px;
    background: url('/imagenes/Banner.png') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


